<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton="false">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content *ngIf= "products">
  
    <ng-container>
      <ion-grid>
          <ion-row *ngFor="let product of products">
            <ion-col width-50>
                <img src="{{product.image.src }}" (click)= 'showProductDetail(product)'>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ng-container>
</ion-content>