<!--
  Generated template for the ProductDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
    <ion-navbar hideBackButton="false">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      <ion-title>
        {{title}}
      </ion-title>
    </ion-navbar>
  </ion-header> -->
  <ion-header>
    
      <ion-navbar >
        <ion-title style= "white-space: normal" *ngIf= "product">{{product.categories[0].name}}</ion-title>
      </ion-navbar>
    
    </ion-header>


<ion-content scroll="false" has-header="true" padding="true" *ngIf="product">
    <ion-fab style="top: 5px;" right top edge (click)="openCart()">
        <button style="width: 40px; height:40px" ion-fab color="danger"><ion-icon name="cart"></ion-icon></button>
    </ion-fab>

    <ion-card>
      <ion-slides autoplay="4000" loop="true">
          <ion-slide *ngFor="let image of product.images">
            <img style="width: 100vw !important;" [src]="image.src">
          </ion-slide>
      </ion-slides>
      <button *ngIf="showUpgradeButton == true" text-center ion-button small color= "dark" icon-left block tappable (click)="upgradeProduct()">
        <ion-icon name="add-circle"></ion-icon> Upgrades & Accessories
      </button>

      <ion-card-title style="color: red">
        {{product.name}}
      </ion-card-title>
      <ion-card-content>
        <p [innerHTML]="product.price_html"></p> 
        <ion-grid *ngIf = "product.upsell_product_info">
              <ion-list *ngFor= "let upsell of product.upsell_product_info">
                <ion-item>
                  <button style="white-space: normal" [disabled]="checkUpsell[upsell.id]" tappable (click)="addedProduct($event.target, upsell)">
                    <ion-icon name="md-add"></ion-icon>
                    <!-- Add $ {{upsell.price}} ({{upsell.name}})  -->
                    {{ checkUpsell[upsell.id] ? 'Added $'+upsell.price+'('+upsell.name+')' : 'Add $'+upsell.price+'('+upsell.name+')'}}
                  </button>
                </ion-item>                
              </ion-list>
          </ion-grid>
      </ion-card-content> 
    </ion-card>     
        
    <button ion-button icon-only (click)="installationInstructions()">
        <ion-icon name="book"></ion-icon>
      </button>

      
          <!-- <iframe src="http://wallpaperswide.com/railway-wallpapers.html"></iframe> -->
       
            <!-- <ion-row *ngFor="let att of product.attributes let i = index">
              <ion-col col-4 *ngIf="att.variation == true" >
                {{ att.name}}
              </ion-col>
              <ion-col col-8 *ngIf="att.variation == true">
                <ion-select [(ngModel)]="variationsData[att.name]" multiple="false" (ngModelChange)="getProductVariations()">
                  <ion-option *ngFor="let option of att.options" value="{{option}}">{{option}}</ion-option>
                </ion-select>
              </ion-col>
            </ion-row> -->
        <ion-card>
          <ng-container *ngFor="let att of product.attributes let i = index">
            <ion-item *ngIf="att.variation == true">
              <ion-label stacked *ngIf="att.variation == true">{{ att.name}}</ion-label>
              <ion-select *ngIf="att.variation == true" [(ngModel)]="variationsData[att.name]" multiple="false" (ngModelChange)="getProductVariations()">
                <ion-option *ngFor="let option of att.options" value="{{option}}">{{option}}</ion-option>
              </ion-select>
            </ion-item>
          </ng-container>
        </ion-card>    
        <ng-container *ngIf="updatedPrice">
            <p style= "padding: 10px" [innerHTML]="updatedPrice"></p>
          </ng-container>
       
       
        <ion-grid>
          <ion-row>
            <ion-col >
              <button ion-button color= "#E2E0DF" icon-left block (click)="addCart(product)">
                <ion-icon name="basket"></ion-icon> ADD TO CART
              </button>
              <!-- <button *ngIf = "instalationIns" ion-button color= "#E2E0DF" icon-left block (click)="installationInstructions()">
                Installation Instructions</button> -->
              <p>SKU : {{product.sku}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-col>
          <ion-row>
            <ion-col *ngIf = "product.force_sell_product_info">
              <p>This will also add the following products to your cart:</p>
              <p> {{product.force_sell_product_info.product_name}}</p>
            </ion-col>
          </ion-row>
        </ion-col>


<!-- Tabs -->
        <div padding>
          <ion-segment [(ngModel)]="header">
            <ion-segment-button style="color: red" value="description">
              Description
            </ion-segment-button>
            <ion-segment-button style="color: red" value="additionalInfo">
              Additional Info
            </ion-segment-button>
              <ion-segment-button style="color: red" value="review">
              Review
            </ion-segment-button>
          </ion-segment>
        </div>
        
        <div [ngSwitch]="header">
          <ion-list *ngSwitchCase="'description'">
              <ion-item>
                  Description<br>
                  <p [innerHTML]="product.description"></p> 
              </ion-item>
          </ion-list>
        
          <ion-list *ngSwitchCase="'additionalInfo'">
            <ion-card>
              <br>      
              <ion-card-content>
                  <ion-grid>
                      <ion-row *ngFor="let att of product.attributes">
                        <ion-col col-4>
                          {{ att.name}}
                        </ion-col>
                        <ion-col col-8>
                          <span *ngFor="let option of att.options"> {{ option }}</span>
                        </ion-col>
                      </ion-row>
                  </ion-grid>
                </ion-card-content>
            </ion-card>  
          </ion-list>
          <ion-list *ngSwitchCase="'review'"> 
            <h3>Review</h3>         
            </ion-list>
        </div> <!-- Tabs end here -->
    <!-- </ion-card> -->
</ion-content>
