<ion-header>
    <ion-navbar hideBackButton="false">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      <ion-title small>
        {{title}}
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="search"></ion-icon>
      </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content scroll="false" has-header="true" padding="true">
  <ion-grid>
    <ion-row [hidden]="!checkIfNoProducts">
      <ion-col>"No Search Result"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 *ngFor="let product of products">
        <ion-thumbnail>
          <img src="{{product.images[0].src }}" tappable (click)='showProductDetail(product.id, product.name)'>
        </ion-thumbnail>
        <p style="color: red" tappable (click)='showProductDetail(product.id)'>{{product.name}}</p>
        <p [innerHTML]="product.price_html"></p>
        <p *ngIf="!product.price_html">$ {{product.price}}</p>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



  