<!--
  Generated template for the UpgradeProductsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Upgrade Products</ion-title>
  </ion-navbar>

</ion-header>


<ion-content *ngIf = "allProducts">
  <ng-container>
    <ion-card *ngFor="let productOne of allProducts">       
      <ion-card-content>
          <ion-grid>
              <ion-row >
                <ion-col col-6>
                  <ion-thumbnail>
                    <img src="{{productOne.images[0].src }}">
                  </ion-thumbnail>
                </ion-col>
                <ion-col col-6>
                    {{productOne.name}}
                    <ion-row>
                      <ion-col col-12>
                          <p [innerHTML]="productOne.price_html"></p>
                      </ion-col>
                      <ion-col col-12>
                          <button ion-button color= "#E2E0DF" [disabled]="checkUpsells[productOne.id]" center bottom (click)="addCart(productOne)">{{ checkUpsell[upsell.id] ? 'ADDED TO CART' : 'ADD TO CART'}}
                          </button>
                      </ion-col>
                    </ion-row>
                </ion-col>
                
              </ion-row>
            </ion-grid>
      </ion-card-content>  
    </ion-card>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button color="danger" outline block (click)="closeModal()">Back</button>
        </ion-col>
        <!-- <ion-col>
          <button ion-button color="danger" block (click)="checkout()">Checkout</button>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
