<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-content class="masters">
    <ion-list color="dark">
      <ion-item color="dark" *ngFor="let p of pages; let i=index" text-wrap (click)="toggleLevel1('idx'+i)" [ngClass]="{active: isLevel1Shown('idx'+i)}">
        <span>
          {{p.title}}
          <ion-icon color="success" item-right *ngIf ="p.children !== undefined" [name]="isLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
        </span>
        <ion-list *ngIf="isLevel1Shown('idx'+i) && p.children !== undefined" >
          <ion-item color="dark"  *ngFor="let s of p.children; let i2=index" text-wrap (click)="toggleLevel2('idx'+i+'idx'+i2)" [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+i2)}">
            <span menuToggle *ngIf="(s.children === undefined)" (click) ="openPage(s.title,s.object_id, s.attr)">
              {{s.title}}
              <ion-icon color="success" item-right *ngIf ="s.children !== undefined" [name]="isLevel2Shown('idx'+i+'idx'+i2)  ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
            </span>
            <span *ngIf="(s.children !== undefined)">
              {{s.title}}
              <ion-icon color="success" item-right *ngIf ="s.children !== undefined" [name]="isLevel2Shown('idx'+i+'idx'+i2)  ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
            </span>
            <ion-list *ngIf="isLevel2Shown('idx'+i+'idx'+i2) && s.children !== undefined">
              <ion-item color="dark" *ngFor="let m of s.children" text-wrap>
                <span menuToggle (click)="openPage(m.title , m.object_id, m.attr)">
                   {{m.title}}
                </span>
               
              </ion-item>
            </ion-list>
          </ion-item>
        </ion-list>
      </ion-item>
      <ion-item color="dark" text-wrap>
        <span menuToggle (click)="helpfulLinks()">Helpful Links</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>